<!-- <div class="flex flex-col  h-full  w-full">
  <div class="flex flex-row h-[200px] min-w-max bg-green-700  justify-items-center items-center ">
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="!w-60  !h-60  rounded-full mt-40 ">

    <div class="text-3xl font-bold ml-5 mt-5 text-white">
      <span>
        Somaya Sharma
      </span>
      <p class="text-lg">B.A, LLB</p>


      <div class="flex flex-row mt-5">
        <ul>
          <li class="float-left mt-5 mr-5">
            <div class="flex flex-row">
              <mat-icon> phone_callback</mat-icon>
              <div class="text-sm"> +91 7280920711 </div>
            </div>
          </li>

          <li class="float-left mt-5 mr-5 ">
            <div class="flex flex-row ">
              <mat-icon> mail</mat-icon>
              <div class="text-sm">SomayaSharma876@gmail.com
              </div>
            </div>
          </li>

          <li class="float-left mt-5 ">
            <div class="flex flex-row ">
              <mat-icon>pin_drop</mat-icon>
              <div class="text-sm">Gurugram, Haryana</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="flex flex-row h-full w-full mt-28 gap-16 ">
    <div class="flex flex-col  ml-3 h-5/6 w-72 gap-3">

      <div>
        <ul>
          <li class="font-medium text-2xl">Name <button mat-button> <mat-icon>edit</mat-icon></button></li>
        </ul>
        <span class=" text-md"> Somaya Sharma </span>
      </div>

      <div>
        <ul>
          <li class="font-medium text-2xl">Email</li>
        </ul>
        <span class=" text-md"> shomayasharma12@gmail.com </span>
      </div>
      <div>
        <ul>
          <li class="font-medium text-2xl">Mobile</li>
        </ul>
        <span class=" text-lg"> +91-7280920711</span>
      </div>
      <div>
        <ul>
          <li class="font-medium text-2xl">Landline</li>
        </ul>
        <span class=" text-md"> +91 123451265 </span>
      </div>
      <div>
        <ul>
          <li class="font-medium text-2xl">Fax</li>
        </ul>
        <span class="text-md"> +91 1244176543879 </span>
      </div>
      <div>
        <ul>
          <li class="font-medium text-2xl">Date Of Birth</li>
        </ul>
        <span class=" text-md"> 20 March </span>
      </div>

      <div>
        <ul>
          <li class="font-medium text-2xl">Language</li>
        </ul>
        <span class="text-md"> Hindi,English,Tamil </span>
      </div>


    </div>


    <div class=" flex flex-col w-full h-full">
      <div class="flex flex-row w-full h-80 bg-white rounded-lg mat-elevation-z8">
        <div class="flex flex-row m-3 gap-3">
          <p> Name:vedika</p>
          <p> Email: vedikasingh9876@gmail.com</p>
        </div>

      </div>
    </div>


    <div class=" flex flex-col w-full h-full">
      <div class="flex flex-row w-11/12 h-80 bg-white rounded-lg mat-elevation-z8">
        <div class="flex flex-row m-3 gap-3">
          <p> Name:vedika</p>
          <p> Email: vedikasingh9876@gmail.com</p>
        </div>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet> -->

<div class="min-h-screen bg-gray-100">
  <app-navbar></app-navbar>
  <div class="flex ">
    <app-sidebar class="w-1/4 relative left-72"></app-sidebar> 
    <app-feed class="w-1/2"></app-feed>

  </div>
</div>










